* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

html,
body,
#root,
.container {
  height: 100%;
}
body {
  background-color: #f2f2f2;
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.2rem;
}

.movies {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 100px 10px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px 0;

  scroll-snap-type: y mandatory;
}

.movies a {
  display: contents;
}

@media screen and (max-width: 1000px) {
  .movies {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .movies {
    gap: 30px 0;
    padding-top: 50px;
  }
}